<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <div class="container">
  <body>
   <p>The <u>@Model.Adjective</u>(adj.) <u>@Model.Noun</u>(noun) named <u>@Model.Name</u>(name), <u>@Model.Adverb</u>(adv.) jumped over the moon. Afterwards, he was thirsty, so he and his best friend, <u>@Model.Bird </u>(bird), went to get some <u>@Model.Liquid</u>(liquid).</p>
  </body>
  </div>
</html>